# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.MRB.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\work\git\MRB\.idea\.idea.MRB\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
